# Groq
GROQ_API_KEY=
OLLAMA_API_KEY=

# MongoDB
MONGO_URI=
MONGO_DB_NAME=

# HuggingFace
HF_API_KEY=

# App
BASE_URL=http://localhost:8000
STORAGE_BASE_PATH=storage/images

#Gdrant
QDRANT_HOST=localhost
QDRANT_API_KEY=

#Secret key
SECRET_KEY=
REFRESH_KEY=